
*{
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.suqare{
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid black;/* 自定义边框 */
  margin-bottom: -1px;/*用来消除上下重叠边框*/
  margin-right: -1px;/*用来消除左右重叠边框*/
  outline: none; /*去除选中时的蓝色边框*/
  background: white;
}
.square-row{
  clear: both;
}
.game-board{
  float: left;
  margin: 20px
}
.game-info{
  display: inline-block;
  margin: 10px;
}
ol, ul {
  padding-left: 30px;
}

.selected{
  font-weight: bold;
  color: red;
}